/* general */
.gridContainer {
  text-align: center;
}

/* header */
  .headerImage {
    width: 5rem;
    display: block;
    margin: 0 auto;
  }

  .header {
    margin-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #de667a;
  }

  .header h2 {
    margin: 0 auto;
  }

/* content */
.contentBox {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.contentBox::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .contentBox {
    height: 70vh;
  }
}
/* footer */
.footer {
  height: 10vh;
  margin-top: 20px;
}