.headerImage {
  width: 5rem;
  display: block;
  margin: 0 auto;
}

.gridContainer {
  text-align: center;
}

.header {
  margin-top: 3vh;
  padding-bottom: 3vh;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #de667a;
}

.header h2 {
  margin: 0 auto;
}

.contentBox {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.contentBox::-webkit-scrollbar {
  display: none;
}

.footer {
  height: 10vh;
  margin-top: 20px;
}